{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Edit Hunt | Ecu scavenger Hunt</title>

<link
    rel="stylesheet"
    href="{% static 'style_css/style.css' %}"
>

</head>

<body>

<main class="container">

<h1>Delete Hunt</h1>

<div class="accent-line"></div>

<form method="POST">
    {% csrf_token %}
    <p>
    Name : {{ hunt.hunt_name }}
    </p>
    <p>
    Location : {{ hunt.location  }}
    </p>
    <button type="submit", style="color: crimson;">
        Confirm?
    </button>
</form>
<p>
<a href="{% url 'manage_hunts' %}">
    Back to Manage Hunts
</a>
</p>

</main>

</body>
</html>
