{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Staff Dashboard | ECU Scavenger Hunt</title>

    <link
        rel="stylesheet"
        href="{% static 'style_css/style.css' %}"
    >
</head>
 
<body>
    <main class="container">
        <h1>Welcome Staff</h1>

        <div class="accent-line"></div>

        {% if messages %}
            {% for message in messages %}
                <p class="message {{ message.tags }}">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}

        <h2>Welcome, {{ user.username }}</h2>

        <p class="welcome-text">
            You are logged in as a staff member.
        </p>
        <div class = "Dashboard actions">
            <p>
            <a href=" {% url 'manage_hunts' %}" class="Dashboard-button">
                Manage Hunts
            </a>
            </p>
            <p>
            <a href="{% url 'question_pool' %}" class="Dashboard-button">
                Question Pool
            </a>
            </p>
            <p>
            <a href="{% url 'manage_sessions' %}" class="Dashboard-button">
                Manage Sessions
            </a>
            </p>
        </div>

        <form
            method="post"
            action="{% url 'staff_logout' %}"
        >
            {% csrf_token %}

            <button type="submit" class="logout-button">
                Logout
            </button>
        </form>
    </main>
</body>
</html>