{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Question | ECU Scavenger Hunt</title>

    <link
        rel="stylesheet"
        href="{% static 'style_css/style.css' %}"
    >
</head>

<body>
 
<main class="container">

    <h1>Create New Question</h1>

    <div class="accent-line"></div>

    <p>
        <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        
        <button type="submit">
            Add to questions 
        </button>

    </form>
    </p>

    <a href="{% url 'question_pool' %}">
        Back to Question pool
    </a>

</main>

</body>
</html>