{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Edit Question | Ecu scavenger Hunt</title>

<link
    rel="stylesheet"
    href="{% static 'style_css/style.css' %}"
>

</head>
 
<body>

<main class="container">

<h1>Edit Question</h1>

<div class="accent-line"></div>

<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Save Changes
    </button>
</form>

<a href="{% url 'question_pool' %}">
    Back to question pool
</a>

</main>

</body>
</html>
