{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Question Pool | ECU Scavenger Hunt</title>

    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style_css/style.css' %}">
</head>

<body>

<main class="container">

    <div class="hunt-top">
        <img src="{% static 'style_css/ecu-logo-black.png' %}" class="ecu-logo">

        <div class="clock-display"><span id="clock"></span></div>
    </div>

    <div class="header-accent"></div>

    <div class="questions-content">

        <h1>Question Pool</h1>

        <p class="welcome-text start-text">Create, edit and manage questions</p>

        <a href="{% url 'create_question' %}" class="button-link">Create New Question</a>

        <h2>Questions</h2>

        {% if questions %}

            {% for question in questions %}

                <div class="question-row">

                    <div class="question-content">
                        <p>Q: {{ question.description }}</p>

                        <p class="question-type">
                            Type: {{ question.question_type }}
                        </p>
                    </div>

                    <div class="answer-content">

                        <a href="{% url 'edit_question' question.question_id %}" class="back-link">Edit Question</a>

                        <br><br>

                        <a href="{% url 'delete_question' question.question_id %}" class="back-link">Delete Question</a>

                    </div>

                </div>

            {% endfor %}

        {% else %}

            <p class="welcome-text">No questions have been created yet</p>

        {% endif %}

        <p class="welcome-text back-dashboard"><a href="{% url 'staff_dashboard' %}" class="back-link">Back to Dashboard</a></p>

    </div>

</main>

<script src="{% static 'style_css/questions-page.js' %}"></script>

</body>
</html>