{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Question Pool | ECU Scavenger Hunt</title>

    <link
        rel="stylesheet"
        href="{% static 'style_css/style.css' %}"
    >
</head>

<body>

<main class="container">

    <h1>Question Pool</h1>

    <div class="accent-line"></div>

    <p>
        Create, view and manage reusable questions.
    </p>

    <div class="dashboard-actions">

        <a href="{% url 'create_question' %}" class="dashboard-button">
            Create New Question
        </a>

    </div>

    <h2>Questions Pool</h2>

    {% if questions %}

        {% for question in questions %}

            <div class="question-card">

                <h3>Q : {{ question.description }}</h3>

                <p>
                    Type: {{ question.question_type }}
                </p>
                <p>
                <a href="{% url 'edit_question' question.question_id %}">
                    Edit Question
                </a>
            </p>
            <a href="{% url 'delete_question' question.question_id %}">
                Delete Question
            </a> 
            </div>

        {% endfor %}

    {% else %}

        <p>
            No questions have been created yet.
        </p>

    {% endif %}
    <a href="{% url 'staff_dashboard' %}">
        Back to Dashboard
    </a>

</main>

</body>
</html>